<!DOCTYPE html>
<html>
<head>
  <title>Foober</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="header" >
  <h1><%= link_to "Foober", root_path %></h1>
  <nav id="nav">
    <ul>
      <li><a href="#" class="button">Sign Up</a></li>
    </ul>
  </nav>
</header>
<%= yield %>

</body>
</html>
