<!DOCTYPE html>
<html>
<head>
  <title>Foober</title>
  <meta name="viewport"content="width=device-width"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="header" >
  <h1><%= link_to "Foober", root_path %></h1>
  <nav id="nav">
    <ul>
      <% if current_user %>
        <li>Hi, <%= current_user.name %><%= link_to "Sign Out", main_signout_path %></li>
      <% else %>
        <li><%= link_to "Log In", main_login_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
<%= yield %>

</body>
</html>
